*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    padding: 1.5rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin: 50px;
}

/*nav bar*/

.logo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-right: 70px;
}

.contato {
    margin: 0 15px;
    padding: 10px 20px;
    color: white;
    background-color: #531853;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contato:hover,
.contato:focus {
    outline: none;
    background-color: #a027a0; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201f1f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
    border-bottom: 3px solid #000000; 
    width: 100%; 
    padding: 15px 0; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar ul {
    list-style: none;
    margin: 0 15px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar ul:hover {
    background-color: #555;
    transform: scale(1.05);
}

body::after {
    content: '';
    display: block;
    height: 80px; 
}

/*header*/

.redesociais{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.git{
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
    width: 100%;
}

.git:hover {
    transform: scale(1.5);
}

.linkedin{
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    
}
.linkedin:hover {
    transform: scale(1.5);
}

.insta{
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    
}
.insta:hover {
    transform: scale(1.5);
}

.msg {
    font-size: 4.5rem;
    font-weight: 800;
}

.msg2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    text-align: center;

    border-right: 15px solid #f1e100;
    white-space: nowrap;

    width: 0ch;


    overflow: hidden;
    animation: mark .5s step-end infinite, write 6s steps(22, end), infinite;
}

@keyframes mark {

    50% {
        border-right-color: transparent;
    }
}

@keyframes write {
    
    20% {
        width: 20ch;
    }
    70% {
        width: 20ch;
    }
    85%{
        width: 0;
    }
    100% {
        width: 0;
    }
}


h2{
    font-size: 80px;
    font-weight: 700;
}

p{
    font-size: 50px;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

/*Projetos*/

.projetos {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    color: #000000;
    display: flex;
    max-width: 1460px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

.projetos p {
    font-size: 20px;
    color: #000000;
}

.projetos h1 {
    font-size: 40px;
}

.projetos img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.6);
    border-top: thin solid rgba(0, 0, 0, 0.6);
}
.projetos div  {
    background-color: white ;
    height: 450px;
    width: 400px;
    margin: 47px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    flex: 1 1 200px;
}

.projetos button {
    margin: 20px;
    height: 50px;
    width: 80px;
    color: white;
    background-color: #531853;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.projetos button:hover,
.projetos button:focus {
    outline: none;
    background-color: #a027a0;
}

/*sobre min*/
.fotopedro {
    width: 350px;
    height: auto;
    border-radius: 30px;
    box-shadow: 15px rgba(0, 0, 0, 0.6);
    display: block;
}

.sobre {
    display: flex;
}

.sobre p {
    font-size: 20px;
    margin: 52px;
}

.resumo {
    display: table-column;
    margin-top: -600px;
    margin-left:-151px ;
}

.cv {
    display: block;
    margin-top: -300px;
    margin-left:-310px ;
}
.cv button {
    background-color: #531853;
    color: #ffffff;
    font-weight: 400;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.cv button:hover,
.cv button:focus {
    outline: none;
    background-color: #a027a0;
}
 
    


/*habilits*/

.habilits {
    background-color: #ffffff;
    max-width: 1400px;
    color: #000000;
    border-radius: 15px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex: 1 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.habilits p {
    font-size: 25px;
    text-align: justify;
}

.habilits h1 {
    font-size: 50px;
}

.habilits div {
    background-color: white;
    height: 450px;
    width: 400px;
    margin: 0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-radius: 14px;
    text-align: center;
}

.habilits img {
    margin: 20px;
    width: 150px;
}

.habilits div p {
    text-align: center;
    padding: 0 10px;
}

.habilits h4 {
    font-size: 30px;
    margin: 10px 0;
}
/*contact*/

.form-message  {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    width: 1100px;
    color: #000000;
}

.form-title {
    padding: 20px 30px;
    border-bottom: thin solid #ccc;
}

.form-message {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 30px;
}

.form-message input,
.form-message textarea {
    width: calc(50% - 8px);
    height: 40px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-message input:hover,
.form-message input:focus,
.form-message textarea:hover,
.form-message textarea:focus{
    outline: none;
    border-color: #555;
    box-shadow: 0 0 0 0.3125rem #26344a;
}

.form-message input:first-child {
    margin-right: 16px;
}

.form-message input[name=subject] {
    width: 550px;
}

.form-message textarea {
    width: 1000px;
    height: 200px;
    padding: 16px;
}

.form-message button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #531853;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.form-message button:hover, .form-message button:focus {
    outline: none;
    background-color: #a027a0;
}


@media screen and (max-width: 1195px) {
    .navbar {
        visibility: hidden;
    }
    section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    body {
        padding: 1.2rem;
    }
    h2 {
        font-size: 30px;
    }

    
    .projetos {
        max-width: 350px;
    }
    .projetos div {
        margin: 30px;
    }
    .habilits {
        max-width: 350px;
    }
    .habilits p {
        font-size: 20px;
    }

    .fotopedro {
        width: 250px;
    }

    .sobre {
        flex-direction: column;
        margin: 30px 40px;
    }
    .sobre p {
        font-size: 20px;
        margin: 49px;
    }
    .resumo {
        margin: 1px;
    }
    .cv {
        margin: 40px;
    }
    .form-message {
        max-width: 350px;
    }
    .form-message input {
        width: 352px;
        height: 98px;
    }
    .form-message input[name=subject] {
        width: 349px;
    }
    .form-message textarea {
        width: 340px;
        height: 90px;
    }
    .form-message button {
        width: 370px;
        height: 70px;
    }
}
